 
  h1 {
      text-align: center;
       border: thick solid red;
       width: 50%;
      padding: 1ex;
       color: red;
       font-size: 24 pt;
       text-decoration: none;
      font-family: Tahoma, Helvetica, sans-serif;

     }

em {
     color: green;
     font-style: normal;
     background-color: lightgrey;
     font-weight: bold;
   }

 ul { list-style-type: square; }


a:hover {
  text-decoration: none;
   }

li:first-child {
  border: thick solid green;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 1ex;
  width: 40%
  }

p.centered {
  text-align: center;
  width: 50%;
 }
